* {
    font-family: Montserrat, sans-serif;
    font-weight:500;
    margin:0;
    bottom:0;
    list-style: none;
    color: inherit;
    text-decoration: inherit;
}

body {
    display:grid;
    grid-template-columns:1fr;
    grid-template-areas:"navbar" "welcome-section" "project-section" "contact";
    gap:20px;
    background-color:#F3F8FF;
    color:#F8F9FA;
    margin-top:3em;
}

.navbar {
    grid-area:navbar;
    background-color:white;
    position: fixed;
    top:0%;
    width: 100%;
    height: 3%;
    text-align:center;
}

.nav-button {
    all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px 32px;
  background: #ff4136;
  border-radius: 12px;
  color: #fff;
  font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    fill: currentColor
}