* {
  margin: 0;
  list-style: none;
  color: inherit;
  text-decoration: inherit;
}

body {
  background-color: #F3F8FF;
  color: #000;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.nav-inner {
    max-width: 1350px;
    margin:0 auto;
    height:80px;
    display: flex;
    align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.nav-logo img {
  width: 190px;
  height: 40px;
}

.nav-menu {
  display: flex;
  gap: 47px;
  justify-content: center;
  flex: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size:20px;
  line-height:32px;
  vertical-align: bottom;
}

.nav-logo {
  margin-right: 40px;
}

.nav-action {
  margin-left: 40px;
}

.nav-button {
  all: unset;
  cursor: pointer;
  background: #ff4136;
  border-radius: 4px;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 28px;
  text-align: center;
}

.nav-button svg {
  fill: #fff;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}

.hero-section {
    padding: 112px 30px 150px 30px;
    display: flex;
  justify-content: center;
}

.hero-inner {
    position:relative;
    margin:0 auto;
}

.hero-inner img {
    width: 1290px;
    height:508px;
    display:block;
}

.hero-title {
    position: absolute;
    left: 40px;
    bottom: 40px;
    font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size:48px;
  line-height:127%;
  vertical-align: bottom;
  color:white;
}